.link {
  display: flex;
  align-items: center;
  color: var(--color-text-dark);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
}



