.tier {
  display: flex;
  padding: 0 8px;
  margin: 0;
  background: var(--color-bg-button-gray);
  border-radius: 16px;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  gap: 6px;
  line-height: 133%;
  margin-block-end: 0;
}
