.page__content {
}

@media screen and (min-width: 1224px) {
  .page__content {
    display: flex;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1440px) {
  .page__content {
    max-width: 1320px;
    padding: 0;
    margin: 0 auto;
  }
}
