.card-list__info {
  display: box;
  overflow: hidden;
  margin-top: 24px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
}

@media (max-width: 1184px) {
  .card-list__info {
    margin-top: 12px;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

@media (max-width: 1024px) {
  .card-list__info {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
