.radio__input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.radio__input:checked + .radio__custom,
.radio__input:checked:focus + .radio__custom {
  background-image: url(../../../../assets/images/radio-checked.svg);
}

.radio__input:checked:focus + .radio__custom,
.radio__input:focus + .radio__custom {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem rgb(240 96 0 / 25%);
}

.radio__input:checked ~ .radio__label {
  color: rgb(240 96 0 / 100%);
}

.radio__input:focus + .radio__custom {
  background-image: url(../../../../assets/images/radio-empty-focused.svg);
}

.radio__input:hover:not(:checked):not(:focus) + .radio__custom {
  background-image: url(../../../../assets/images/radio-empty-hover.svg);
}
