.card-container {
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 4px var(--color-border-card-container), 0 4px 16px var(--color-border-card-container);
}






