.header__container {
  display: flex;
  max-width: 1320px;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

@media screen and (min-width: 319px) {
  .header__container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 1199px) {
  .header__container {
   padding: 0;
  }
}



