.sidebar-account__title {
  overflow: hidden;
  width: 100%;
  margin-top: 16px;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .sidebar-account__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 117%;
  }
}

@media (max-width: 320px) {
  .sidebar-account__title {
    width: 80%;
  }
}
