.aside__title {
  padding: 0;
  margin: 0;
  font-family: Golos, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
}

@media (max-width: 1024px) {
  .aside__title {
    margin-right: 32px;
  }
}
