.checkbox__input {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.checkbox__input:checked + .checkbox__custom,
.checkbox__input:checked:focus + .checkbox__custom {
  background-image: url(../../../../assets/images/checked.svg);
}

.checkbox__input:checked:focus + .checkbox__custom,
.checkbox__input:focus + .checkbox__custom {
  border-radius: 0.25em;
  box-shadow: 0 0 0 0.2rem rgb(240 96 0 / 25%);
}

.checkbox__input:checked ~ .checkbox__label {
  color: rgb(240 96 0 / 100%);
}

.checkbox__input:focus + .checkbox__custom {
  background-image: url(../../../../assets/images/empty-focused.svg);
}

.checkbox__input:hover:not(:checked):not(:focus) + .checkbox__custom {
  background-image: url(../../../../assets/images/empty-hover.svg);
}
