.aside__form-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 32px;
  margin: 0;
}

@media (max-width: 1024px) {
  .aside__form-head {
    justify-content: flex-start;
  }
}

@media (max-width: 1024px) {
  .aside__form-head {
    justify-content: space-between;
  }
}
