.action-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  padding-right: 32px;
  margin: 24px 0 0;
  gap: 24px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .action-panel {
    width: auto;
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 430px) {
  .action-panel .button:not(.button_type_only-text) {
    max-width: 72px;
    padding: 12px 0;
    font-size: 0;
    gap: 0;
  }
}
