.sidebar {
  width: 100%;
  height: max-content;
  grid-area: sidebar-left;
}

@media (max-width: 1024px) {
  .sidebar {
    margin-top: 24px;
    margin-bottom: 24px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: minmax(min-content, 320px);
  }
}

@media (max-width: 1024px) {
  .sidebar {
    margin-top: 24px;
    margin-bottom: 24px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: minmax(min-content, 320px);
  }
}
