.breadcrumb__item {
  display: flex;
  max-width: 66vw;
  margin-top: 4px;
}

@media screen and (min-width: 425px) {
  .breadcrumb__item {
    max-width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumb__item {
    max-width: 45vw;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .breadcrumb__item {
    max-width: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .breadcrumb__item {
    max-width: 100vw;
  }
}
